<%= form_for(@mini_url) do |f| %>
  <% if @mini_url.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@mini_url.errors.count, "error") %> prohibited this mini_url from being saved:</h2>
    <ul>
    <% @mini_url.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
