<h1>Listing mini_urls</h1>

<table>
  <tr>
    <th>Key</th>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mini_urls.each do |mini_url| %>
  <tr>
    <td><%= mini_url.key %></td>
    <td><%= mini_url.url %></td>
    <td><%= link_to 'Show', mini_url %></td>
    <td><%= link_to 'Edit', edit_mini_url_path(mini_url) %></td>
    <td><%= link_to 'Destroy', mini_url, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mini url', new_mini_url_path %>
